@tailwind base;
@tailwind components;
@tailwind utilities;

.bgVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.overlay {
  background-color: #020b0c;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.button-shadow {
  box-shadow: 0.25rem 0.25rem #5c18c9;
  transition: all .15s linear 0s;
}

@layer utilities{
  .grad-text {
    background: linear-gradient(90deg, #00ffee 0%, #036cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}